@import "base/utilities";
@import "base/solarized";
@import "base/theme";
@import "base/typography";
@import "base/layout";

.gridtable {
  margin: auto;
	color:#333333;
	border-width: .5px;
	border-style: dotted;
	border-color: #666666;
	border-collapse: collapse;
}
.gridtable th {
	padding: 12px;
	border-color: #666666;
	background-color: #bcbcbc;
  font-weight: bold;
  text-align: center
}
.gridtable td {
	border-right-width: 1px;
	border-style: dotted;
	padding: 12px;
	border-color: #666666;
	background-color: #ffffff;
}
.gridtable tr:nth-child(even) td {
  background-color: #efefef;
}
.gridtable tr:first-child th {
    border-top: 0;
}
.gridtable tr:last-child td {
    border-bottom: 0;
}
.gridtable tr td:first-child,
.gridtable tr th:first-child {
    border-left: 0;
}
.gridtable tr td:last-child,
.gridtable tr th:last-child {
    border-right: 0;
}
